@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-butler-stencil: "ButlerStencil", serif;
  --font-raileway: "Raileway", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-raileway); /* Police par défaut pour tout le site */
}

h1, h2, h3, h4 {
  font-family: var(--font-butler-stencil); /* Police pour les titres */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
